/* システムタイトル部 */
.system-title {
    font-weight: bold;
}

/* 画面遷移系ボタン(青ボタン)下部のマージン */
.button-margin {
    margin-bottom: 15px;
}

/* タイトル・ステータスをインライン表示 */
.incident-title-status {
    display: inline;
}

/* 項目部のマージン */
.context-margin {
    margin-left: 15px;
    margin-right: 15px;
}

/* 青テキスト青下線(パネルヘッダ) */
.panel-header {
    margin-top: 20px;
    margin-bottom: 0px;
    border-bottom: 2px solid #337ab7;
}

/* 青テキスト青下線(項目部) */
.context-header {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #337ab7;
}

/* 閲覧：内容等の背景(灰色) */
.info-detail-area {
    background-color: whitesmoke;
    margin-top: 5px;
}

/* 設備情報及び顧客情報 */
.setubi-and-cust-info-border {
    padding: 0px 10px;
    border-left: 20px solid lightpink;
}

/* 受付情報 */
.call-info-border {
    padding: 0px 10px;
    border-left: 20px solid lightblue;
}

/* 対応情報 */
.taio-info-border {
    padding: 0px 10px;
    border-left: 20px solid lightgreen;
}

/* 処置情報 */
.action-info-border {
    padding: 0px 10px;
    /*border-left: 20px solid lightyellow;*/
    border-left: 20px solid yellow;
}

/* 製品情報 */
.product-info-border {
    padding: 0px 10px;
    border-left: 20px solid mediumorchid;
}

/* トップ画面テーブルのヘッダ(オレンジ色) */
.table-header {
    text-align: center;
    background-color: moccasin;
}

/* 検索一覧画面テーブルのヘッダ */
.table-header-list {
    text-align: center;
}

/* 一覧表示：番号、コード項目 */
.code-list {
    text-align: center;
}

/* 一覧表示：文字項目 */
.char-list {
    text-align: left;
}

/* 一覧表示：分類、ステータス項目 */
.status-list {
    text-align: center;
}

/* テーブル内：日付項目 */
.date-list {
    text-align: center;
}

/* 一覧表示：検索結果表示 */
.search-result-info {
    padding-top: 10px;
}

/* ヘッダー右寄せ部のレイアウト調整 */
.navbar-right {
    margin-right: 15px;
}

/* ヘッダーメニュー項目のレイアウト調整 */
.navbar-nav>li>a {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* ヘッダー1段目(背景赤系色) */
/* colorの値・・・bootstrapに負けてる？ */
.header-first {
    background-color: firebrick;
    color: #ffffff;
}

/* ヘッダー2段目(背景橙系色) */
/* colorの値・・・bootstrapに負けてる？ */
.header-second {
    background-color: darkorange;
    color: #ffffff;
}

/* ヘッダーのテキスト */
.header-text {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #ffffff;
}

/* paddingを上書き、ヘッダータイトルの位置を調整*/
.navbar-brand {
    padding: 10px 10px 10px 10px;
}

/*ヘッダーのユーザー名*/
.header-user-area-text {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #ffffff;
}


/* ヘッダーの検索欄のレイアウト調整 */
.header-search {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* ヘッダー部読み込み時のheight値 */
.header-frame {
/*    position: relative !important;
    z-index: 100 !important;*/
    height: 86px;
}
/*
.container-fluid {
    position: relative !important;
    z-index: -100 !important;
}

.dropdown-backdrop {
    position: relative !important;
    z-index: 200 !important;
}
*/

/* heightを上書き、細めの入力欄とする */
.form-control {
    height: 22px;
    padding: 0px 5px;
}

/* ×ボタン */
.btn-close {
    height: 22px;
    width: 22px;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
}

/* 入力項目選択用ボタン */
.btn-input-support {
    height: 22px;
    width: 22px;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
}

/* 検索項目：項目名 */
.input-label {
    height: 22px;
    border-radius: 4px;
    border: 1px solid wheat;
    margin-bottom: 10px;
}

/* チェックボックスのマージンを除き、ラベルの高さを合わせる */
.checkbox {
    margin: 0px;
}

/* ドロップダウンメニューをテキストエリア内に収める(検索画面) */
.search-dropdown {
    /*height: 35px;*/
    padding-top: 0px;
    padding-bottom: 0px;
}

/* ドロップダウンメニューをテキストエリア内に収める(登録画面) */
.edit-dropdown {
    /*height: 35px;*/
    padding-top: 0px;
    padding-bottom: 0px;
}

/* 検索項目：チェックボックスのレイアウト調整 */
.input-item {
    margin-right: 10px;
}

/* 検索項目の余計な余白を削る */
.label-padding {
    padding-right: 0px;
}

/* loading*/
.entryLoad {       
    background: #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    display:none;
}  

/* 検索一覧画面　ウインドウスクロール対応　固定表示の検索結果ヘッダー */
#newTable {
    position: fixed;
    z-index: 1;
    top: 0px;
}

/* 検索一覧画面　日付input */
.date-div {
    width: 105px;
    float: left;
    position: relative;
}

/* 検索一覧画面　要素間の文字(～) */
.inner-text {
    font-size: 16px; 
    float:left;
    margin: 0px 5px;
}